*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#banner{
    background: linear-gradient(rgba(0,0,0,0.7),#4ea0e4),url(images/pie.jpg);
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.logo{
    background-color:#4ea0e493;
    width: 70px;
    position: absolute;
    top:2%;
    left: 3%;
    border-radius: 10px;
}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
 font-size: 130px;
 font-weight: bolder;
 /***
 font-family: 'Kaushan Script', cursive;
 **/
}
.banner-text p{
  font-size: 20px;
  font-style: italic;
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none ;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    background-color: #4ea0e43d;
    z-index: 1;
    transition: color o.5s;
    border-radius: 5px;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color:black;
}
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .gallery-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .gallery-content img,
  .gallery-content video {
    margin: 10px;
    max-width: 300px;
  }
  
  .close {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover {
    color: #ccc;
  }
  

#SideNav{
    width: 120px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #4ea0e4f1;
    z-index: 2;
    transition: 0.5s;
    padding-top: 50px;
}

nav ul li{
    list-style: none;
    margin-top: 50px ;
    margin-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menubtn{
    width: 70px;
    height: 70px;
    background: #4ea0e488;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 40px;
    margin-top: 20px;
}
@media screen and  (max-width: 770px){
     .banner-text h1{
        font-size: 44px;
       }
     .banner-btn a{
        display: block;
        margin: 20px auto;
    }
}
/*--feature--*/
#feature{
    width:100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
        margin: auto;
        font-size: 25px;
        color: #4ea0e4e2;
        font-weight: bold;
        position:relative;
        z-index: 1;
        display: inline-block;
        padding-top: 10px;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#4ea0e4e2,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1{
    margin-top: 10px;
    font-size: 40px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 100%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    margin-top: 10px;
}
.features-img img{
    width: 90%;
    border-radius: 10px;
}
.features h1{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 100;
    color:#4ea0e4;
}
.features-desc{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
#buttons{
    position: absolute;
    margin-top: 0vh;
    width: 100%;
    text-align: center;
    font-size: 200%;
    height: 100px;
}


  .socials{
    width: 100%;
    height: 200px;
    margin-top: 0vh;
    position: absolute;
    border-radius: 20px;
}
.socials img{
    float: center;
    margin: 1px;
    margin-right: 25px;
    margin-top: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    
}
.socials button{
    background-color: #00000000;
    border: 1px solid black;
    border-color: #fff;
}